html {
    font-family: "Lato", "Open-Sans";
    font-size: 10px;
}

body {
    width: 1020px;
    margin: 0;
}

.wrapper-header {
    height: 89px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper-main {
    height: 600px;
    background-color: #f06c64;
    position: relative;
}

.wrapper-services {
    width: 1020px;
    margin: auto;
    height: 495px;
    background-color: #f2f2f2;
}

.logo {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 35px;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.star {
    color: #f06c64;
}

.menu {
    margin-bottom: 35px;
    margin-top: 35px;
    margin-right: 40px;
    padding: 0px;
}

ul.menu-list li {
    display: inline-block;
    font-size: 12px;
    line-height: 6px;
    color: white;
    font-weight: 700;
    margin-left: 12px;
}

li:first-child {
    list-style-type: none;
    margin: left: 0px;
}

.point {
    color: #494e62;
    vertical-align: 50%;
    margin-left: 12px;
}

.header-line {
    background-color: #323746;
    height: 6px;
    width: 100%;
}

.horizontal-phone {
    position: relative;
    left: 425px;
    top: 175px;
}

.horizontal-phone .phone {
    position: absolute;
}

.phone.horizontal {
    z-index: 1;
    border-radius: 30px;
}

.horizontal-phone .phone.layer {
    z-index: 2;
    top: 10px;
    left: 58px;
}

.vertical-phone {
    position: relative;
    top: 175px;
    left: -10px;
}

.vertical.phone {
    position: absolute;
    transform: rotate(-90deg);
    z-index: 1;
    border-radius: 30px;
}

.vertical-phone .phone.layer {
    position: absolute;
    z-index: 2;
    top: -60px;
    left: 133px;
}

.vertical-phone .phone.shadow {
    position: absolute;
    top: -125px;
    left: 120px;
}

div.chev {
    position: absolute;
    top: 276px;
    background: url(assets/chev.png);
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.chev.right {
    right: 33px;
    top: 274px;
    transform: rotate(180deg);
}

.chev.left {
    left: 35px;
}

.chev:hover {
    background: url(assets/chev\ modified.png);
}

li a:visited {
    color: white;
}

li a:hover {
    color: #f06c64;
}

li a:link {
    color: white;
    text-decoration: none;
}

.wrapper-services h1 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    position: relative;
    margin-top: 0px;
    padding-top: 70px;
    padding-left: 40px;
}

.wrapper-services p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
    /* padding-left: 40px; 
    padding-top: 5px; */
    padding: 5px 40px;
    /* word-spacing: 1px; */
}

h3 {
    font-size: 18px;
    font-weight: 900;
    line-height: 10px;
}

.service .border {
    width: 57px;
    height: 57px;
    border-radius: 29px;
    background-color: #eb5055;
    border: 2px solid #666d89;
}

.service h3 {
    margin: 4px 19px;
    color: #666d89;
    height: 20px;
}

.service p {
    margin-left: 4px;
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
}

.border img {
    margin: 8px;
    margin-top: 10px;
}

div.service {
    width: 940px;
    margin: auto;
    margin-top: 40px;
}

.service-item {
    display: flex;
}

.service-item-description {
    flex-direction: column;
}