* {
    margin: 0px;
}

body {
    color: #f0d8d9;
    font-family: "Lato";
    margin: 0px auto;
    width: 1024px;
}

.quote {
    width: 980px;
    background-color: #f06c64;
    padding-top: 68px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.quote h2 {
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    margin: 0 0 28px;
}

.quote-line {
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
}

.quote p {
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin: 0 0 42px;
}

.quote-form {
    display: flex;
    align-content: space-between;
}

section.contact-information {
    width: 300px;
}

section.form {
    width: 619px;
    margin-right: 20px;
}

.contact-information h3 {
    margin: 0 0 12px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    white-space: -0.5px;
}

.contact-information p {
    margin: 0 0 23px;
    width: 300px;
    font-size: 12px;
    line-height: 21px;
    font-weight: 400;
    text-align: justify;
}

span img {
    vertical-align: middle;
}

.phone img {
    transform: rotate(270deg);
    height: 10px;
    margin-left: 2px;
}

.location img {
    height: 10px;
    width: 12px;
    margin-left: 1px;
}

.email img {
    width: 13px;
    margin-top: 4px;
}


div.contact {
    height: 21px;
}

.contact a {
    text-decoration: none;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    margin-left: 8px;
    margin-bottom: 0px;
}

form input {
    width: 589px;
    border-radius: 5px;
    background-color: #d6564f;
    padding: 11px 15px;
    border: none;
    margin-bottom: 17px;
}

form textarea {
    width: 589px;
    height: 183px;
    border-radius: 5px;
    background-color: #d6564f;
    padding: 10px 15px;
    border: none;
    margin-bottom: 15px;
}

input::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-weight: 400;
}

textarea::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-weight: 400;
    word-spacing: -3px;
}

.submit-btn {
    width: 100px;
    color: white;
    margin-bottom: 10px;
}

section.contact-information {
    display: inline-block;
}

footer {
    width: 950px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 30px;
    height: 76px;
    align-items: center;
}

footer p {
    font-size: 12px;
    line-height: 76px;
    color: #666d89;
}

footer div {
    margin: 0px;
}


div.contacts {
    display: flex;
    margin-top: 3px;
}

div.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #666d89;
    margin-right: 7px;
}

svg.icon {
    width: 14px;
    height: 14px;
    padding: 8px;
    fill: #666d89;
}

div.twitter svg {
   padding: 9px;
}